/*ESTILOS GENERALES*/
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

/*PANEL IZQUIERDO (FONDO MOSAICO)*/
.left-panel {
  min-height: 100px;
  background-size: 50%;
  background-position: center;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

.left-panel h1 {
  font-size: 3rem;
  letter-spacing: 2px;
}

/*PANEL DERECHO (FORMULARIO)*/
.login-box {
  background-color: white;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  padding: 25px;
}

.login-box h3 {
  color: #0d6efd;
  font-weight: 600;
}

.login-box .form-label {
  font-weight: 500;
}

.login-box .btn-outline-primary {
  background-color: #0d6efd;
  border-radius: 2px;
  margin-left: none;
  padding: 3px;
  border: none;
  transition: background-color 0.3s ease;
}

.login-box .btn-primary:hover {
  background-color: #0b5ed7;
}

.login-box a {
  color: #0d6efd;
}

.login-box a:hover {
  text-decoration: underline;
}
