body {
  background-color: #fffafc;
  font-family: 'Segoe UI', sans-serif;
}

.bg-pink {
  background-color: #f5b8c4;
}

.text-pink {
  color: #d16d8a;
}

.bg-yellow {
  background-color: #fff2b2;
}

button:hover {
  background-color: #ffe180;
  transition: 0.2s;
}

footer a:hover {
  text-decoration: underline;
}
