.bg-pink {
  background-color: #f5b8c4;
}

.text-pink {
  color: #d16d8a;
}

.bg-yellow {
  background-color: #fff2b2;
}

button:hover {
  background-color: #ffe180;
  transition: 0.2s;
}

.carousel-item {
  height: 280px;
  background-size: cover;
  background-position: center;
}

table {
  background-color: white;
  border-radius: 10px;
}

th, td {
  text-align: center;
}


footer a:hover {
  text-decoration: underline;
}