.carousel-item {
  height: 300px;
  background-size: cover;
  background-position: center;
}

table {
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

th {
  color: #fff;
  background-color: #0d6efd !important;
}

footer a:hover {
  text-decoration: underline;
}
